var filter = ({
    numberToIndex: (function(index) {
        var num = parseInt(index);
        if (num < 3) {
            return (index + 1)
        };
        if (num % 3 === 0) {
            return (1)
        };
        if (num % 2 === 0) {
            return (2)
        };
        return (3)
    }),
    typeToBoolean: (function(type, array) {
        if (array.indexOf(type) !== -1) {
            return (true)
        };
        return (false)
    }),
});
module.exports = filter;